[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
pillow = "*"
django-crispy-forms = "*"
django-summernote = "*"
python-decouple = "*"
coinbase-commerce = "*"
requests = "*"
django-paypal = "*"
django-redis = "*"
django-ratelimit = "*"
paypalrestsdk = "*"

[dev-packages]

[requires]
python_version = "3.11"
