{% extends 'registration/base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated and user.username == "admin" %}
<div class="container">
    <div class="col-sm-3">
        <div class="login-container" style="margin-top: 10px;">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">REGISTER</h1>
                <form method="post">
                    {% csrf_token %}
                    <!-- <input type="text" id="emailVar" name="email_address" placeholder="EMAIL" /> -->
                    <input type="text" id="usernameVar" name="username" placeholder="USERNAME" />
                    <input type="password" id="passwordVar" name="password1" placeholder="PASSWORD" />
                    <input type="password" id="passwordVar" name="password2" placeholder="PASSWORD" />
                    <input type="submit" class="opacity" value="SignUp">
                </form>
                
            </div>
            
        </div>
        
    </div>
    
</div>
{% endif %}
{% endblock content %}

    
