
{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container cls1">
    <div>
        {% for title in group %}
        <a href="{% url 'group-url' title=title.title %}" id="groupItem" style="background-color: rgb(130, 130, 130);color: rgb(0, 0, 0);">{{title.title}}</a>
        {% endfor %}
    </div>
    
    
    <div class="row">
        
        {% for item in content %}
        <div class="col-xl-3">
            <div style="background-color: silver;" class="shop-card">
                <img src="{{item.image.url}}" alt="" width="260" height="230">
                <div class="clsFontTitle">
                    <a href="{% url 'info' pk=item.pk %}" class="btn btn-silver" style="background-color: rgb(130, 130, 130);color: rgb(0, 0, 0);">{{item.name}}</a>
                </div>
                  <div class="clsFontPrice">
                    {{item.price}}$
                  </div>
                  
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
    

    