{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container cls1">
    <div class="row">
        {% for item in products %}
        <div class="col-xl-3">
            <div class="shop-card">
              <!-- <img class="img-fluid img-thumbnail"  src="{{item.image.url}}" > -->
              
                <!-- <img src="{% static '{{item.image.url}}' %}" alt="" width="170" height="170"> -->
                <img src="{{item.image.url}}" alt="" width="260" height="230">
                <div class="clsFontTitle">
                    <a href="{% url 'info' pk=item.pk %}" class="btn btn-silver" style="width: 250px;">{{item.name}}</a>
                </div>
                  
                  <div class="clsFontPrice">
                    {{item.price}}$
                  </div>
                  
            </div>
            
        </div>
        
        {% endfor %}
    </div>
</div>
    
{% endblock content %}
    


<h1 class="title">Hover over the cards</h1>

