{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div style="background-color: silver;" class="shop-card">
            <div class="clsFontName">
                {{id.name}}
            </div>
            <div style="margin: 5px;" class="form-control">
                <img src="{{id.image.url}}" alt="" width="260" height="200">
                {{id.dis|safe}}
            </div>
        {% if user.is_authenticated %}
        <a style="margin-bottom: 10px;" href="{% url 'edit' pk=id.id %}" class="btn btn-secondary">Edit</a>
        <br>
        {% endif %} 
            <a href="{{ charge.hosted_url }}" class="btn btn-primary" id="btnBuy">Buy it now for {{id.price}}$</a>
        </div>
        
    </div>
{% endblock content %}

    