{% extends 'base.html' %}
{% load static %}
{% block status %}
{% if user.is_authenticated %}
<a href="{% url 'logouturl' %}"><img src="{% static 'images/logout.png' %}" alt="" width="23" height="23"></a>
{% else %}
<a href="{% url 'loginurl' %}"><img src="{% static 'images/login.png' %}" alt="" width="23" height="23"></a>
{% endif %}
{% endblock status %}
{% block content %}
<div class="container">
        <div style="background-color: silver;" class="shop-card">
            <div class="clsFontName">
                {{id.name}}
            </div>
            <div style="margin: 5px;" class="form-control">
                <img src="{{id.image.url}}" alt="" width="260" height="200">
                
                {% if id.paid_proxy != "" %}
                <br>
                <a target="_blank" class="clsFontName" style="font-size: large;" href="{{id.paid_proxy}}">Video With Paid Proxy</a> ( <a class="" id="titleID" style="font-size: large;color: brown;" href="https://www.zyll.pro/info/6">Buy it</a> )
                {% endif %}

                {% if id.video != "" %}
                <br>
                <a target="_blank" class="clsFontName" style="font-size: large;" href="{{id.video}}">Video With Free Proxy</a> (Automatic)
                {% endif %}


                <hr>
                {{id.dis|safe}}
                
            </div>
        {% if user.is_authenticated and user.username == "admin" %}
        <a style="margin-bottom: 10px;" href="{% url 'edit' pk=id.id %}" class="btn btn-secondary">Edit</a>
        <br>
        {% endif %} 
            <!-- <a href="{{ charge.hosted_url }}" class="btn btn-dark" id="btnBuy">Buy it now for {{id.price}}$</a> -->
            
            <a href="{{ charge.hosted_url }}" class="btn btn-dark" id="btnBuy">Before : <del>{{id.price}}</del> -- Now : {{coupun}} $</a>
            
            
        </div>
        
    </div>
{% endblock content %}

    