{% extends 'registration/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="col-sm-3">
        <form method="post">
            {% csrf_token %}
            <div id="usernameVar">{{model.user}}</div>
            <div id="usernameVar">Password : </div>
            <div id="usernameVar">{{form.email_or_username}}</div>
            <div id="usernameVar">{{form.product}}</div>
            <div id="usernameVar">{{form.serial}}</div>
            <input type="submit" class="opacity" value="Create">
        </form>
        
    </div>
    
</div>
{% endblock content %}