{% extends 'base.html' %}
{% load static %}
{% block status %}
{% if user.is_authenticated %}
<a href="{% url 'logouturl' %}"><img src="{% static 'images/logout.png' %}" alt="" width="23" height="23"></a>
{% else %}
<a href="{% url 'loginurl' %}"><img src="{% static 'images/login.png' %}" alt="" width="23" height="23"></a>
{% endif %}
{% endblock status %}
{% block content %}
{% if user.is_authenticated and user.username == "admin" %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="padding: 15px;" class="container">
            <div style="width:fit-content;margin: 5px;" class="form-control">
                {{form.name}}
            </div>
            <div style="width:fit-content;margin: 5px;" class="form-control">
                {{form.dis|safe}}
            </div>
            <div style="width:fit-content;margin: 5px;" class="form-control">
                {{form.id_place}}
            </div>
            <div style="width:fit-content;margin: 5px;" class="form-control">
                {{form.price}}
            </div>
            <div style="width:fit-content;margin: 5px;" class="form-control">
                {{form.image}}
            </div>
            <div style="width:fit-content;margin: 5px;" class="form-control">
                <input style="width: 200px;" class="btn btn-primary" type="submit" value="Add">
            </div>
            
            
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}

    