{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated and user.username == "admin" %}


<div class="container">

    <div class="formEditProfile">
        <div style="background-color: silver;" class="shop-card" style="text-align: left;">
        <a style="color:red;" href="{% url 'add-bill' %}">Add Bill</a>
        </div>
        <div style="background-color: silver;" class="shop-card scroll">
            <a style="color:green;">Incomes : {{incomes_sa}} || {{incomes_us}}$ </a><br>
            <a style="color:red;">Expenses : -{{expenses_sa}} || -{{expenses_us}}$</a><br>
            <a style="color:black;">Balance : {{total_sa}} || {{total_us}}$</a><hr>
            {% for item in model %}
            <div style="margin: 5px;background-color: silver;" >
                
                <div class="labelInfo">-{{forloop.counter}}
                    
                    {% if item.type == 'income' %}
                    <a style="color:green;">{{item.name}} : {{item.amount}}
                        {% if 'Binance' in item.paid_method or 'BTC' in item.paid_method or 'PayPal' in item.paid_method %}
                            ${% endif %}||| {{item.paid_method}} ||| {{item.date}}</a>
                    {% else %}
                    <a style="color:red;">{{item.name}} : -{{item.amount}}
                        {% if 'Binance' in item.paid_method or 'BTC' in item.paid_method or 'PayPal' in item.paid_method %}
                            ${% endif %}||| {{item.paid_method}} ||| {{item.date}}</a>
                    {% endif %}
                        
                    
                
                </div>
            </div>
            

            
            {% endfor %}
           

        </div>
    </div>

</div>


{% endif %}
{% endblock content %}