{% extends 'base.html' %}
{% load static %}

{% block status %}
    
{% if user.is_authenticated %}
    <a href="{% url 'logouturl' %}"><img src="{% static 'images/logout.png' %}" alt="" width="23" height="23"></a>
    {% else %}
    <a href="{% url 'loginurl' %}"><img src="{% static 'images/login.png' %}" alt="" width="23" height="23"></a>
    {% endif %}
        
{% endblock status %}
    
{% block content %}
<div class="container cls1">
    <div style="padding-bottom: 15px;">
        {% for title in groups %}
            {% if 'tools' in request.get_full_path %}
                {% if title.type == "Tools" %}
                    <a href="{% url 'group-url' title=title.title %}" id="groupItem" style="background-color: rgb(130, 130, 130);color: rgb(0, 0, 0);">{{title.title}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="row">
        {% for item in products %}
        
        {% if item.type == "Tools" %}
        
        {% if item.hide == False %}
        <div class="col-xl-3">
            
            

            
            {% if item.status == "New" %}
            <p style="margin-bottom: -20px;color:Green;"><a style="background-color: silver;border-radius: 20px;"><strong style="font-size: 16px; font-weight: bold; color: green; background-color: silver; padding: 5px 10px; border: 2px solid green; border-radius: 5px;">New</strong></a></p>
            {% elif item.status == "Wanted" %}
            <p style="margin-bottom: -20px;color:red;"><a style="background-color: silver;border-radius: 20px;"><strong style="font-size: 16px; font-weight: bold; color: red; background-color: silver; padding: 5px 10px; border: 2px solid red; border-radius: 5px;">Wanted</strong></a></p>
            {% endif %}
            
            
                
            <div style="background-color: silver;" class="shop-card">
                <img src="{{item.image.url}}" alt="" width="260" height="230">
                <div class="clsFontTitle">
                    <a href="{% url 'info' name=item.name %}" class="btn btn-silver" style="width: 250px;background-color: rgb(130, 130, 130);color: rgb(0, 0, 0);">{{item.name}}</a>
                </div>
                
                  <div class="clsFontPrice">
                    {{item.price}}$
                  </div>
                  
                  
            </div>
        </div>
        {% endif %}
            
        
        {% endif %}
            
        
        {% endfor %}
    </div>
</div>
{% endblock content %}