{% extends 'base.html' %}
{% load static %}
{% block status %}
{% if user.is_authenticated %}
<a href="{% url 'logouturl' %}"><img src="{% static 'images/logout.png' %}" alt="" width="23" height="23"></a>
{% else %}
<a href="{% url 'loginurl' %}"><img src="{% static 'images/login.png' %}" alt="" width="23" height="23"></a>
{% endif %}
{% endblock status %}
{% block content %}
<div class="container">
    <a style="color: darkblue;" href="{% url 'all-requests' %}">Show Me All My Requests</a>
    <div style="background-color: silver;" class="shop-card">
        
        {% if request.user.username == model.username %}
        <div>
            <h4>{{model.name}}</h4>
            <hr>
        </div>
        <div>
            <h5>Method : {{model.method}}</h5>
            
        </div>
        <hr>
        <div>
            <h5>Url</h5>
            <p>{{model.url}}</p>
        </div>
        <hr>
        <div>
            <h5>Headers</h5>
            <p>{{model.headers}}</p>
        </div>
        
        {% if model.data != '' %}
        <div>
            <h5>Data</h5>
            <p>{{model.data}}</p>
        </div>
        {% endif %}
            

        <hr>
    </div>
    
    <div style="background-color: rgb(131, 185, 167);" class="shop-card">
        <div>
            <h5>StatusCode : {{model.status_code}}</h5>
            <hr>
        </div>
        <div>
            <h5>Response</h5>
            <p style="word-wrap: break-word;">{{model.response}}</p>
        </div>
        <hr>
        <div>
            <h5>Cookies</h5>
            <p>{{model.cookies}}</p>
        </div>
        {% endif %}
            
        
    </div>
    
{% endblock content %}

    