{% extends 'base.html' %}
{% load static %}
{% block status %}
{% if user.is_authenticated %}
<a href="{% url 'logouturl' %}"><img src="{% static 'images/logout.png' %}" alt="" width="23" height="23"></a>
{% else %}
<a href="{% url 'loginurl' %}"><img src="{% static 'images/login.png' %}" alt="" width="23" height="23"></a>
{% endif %}
{% endblock status %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div style="background-color: silver;" class="shop-card">
            <a href="{{item}}">donwload image</a>
            
        
        
        </div>
    </form>
        
        
    </div>
{% endblock content %}

    